@use '../../styles/variables.scss' as *;

.chart-section {
    width: 100vw;
    padding: 140px 0 0 0;

    .chart-section__header {

        .chart-section__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            margin: 0 0 16px 0;
        }

        .chart-section__subtitle {
            font-weight: 600;
            font-style: SemiBold;
            font-size: 34px;
            line-height: 35px;
            letter-spacing: 0%;
            margin: 0;
        }
    }

    .chart-section__content {
        padding: 56px 0 0 0;
    }
} 