@use '../../styles/variables.scss' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/mixins' as *;

.chart-section {
    width: 100vw;
    padding: $section-padding-top 0 0 0;

    @include mobile-tablet {
        padding-top: $section-padding-top-mobile;
    }
}

.chart-section__header {
    @include flex-column;
    align-items: center;
}

.chart-section__title {
    @include heading-h2;

    @include mobile-only {
        font-size: $font-size-h2-mobile;
        line-height: 44px;
        margin-bottom: 0;
    }
}

.chart-section__subtitle {
    @include heading-h3;

    @include mobile-only {
        font-size: $font-size-h3-mobile;
    }
}

.chart-section__content {
    padding: $content-padding 0 0 0;
    display: flex;
    justify-content: center;

    @include mobile-tablet {
        padding-top: $content-padding-mobile;
    }
}

.chart-section__mobile-image {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;

    &--aimForProfit {
        height: 180px;
    }

    &--throwOffBallast {
        height: 233px;
    }
}
