/* Manrope Regular */
@font-face {
  font-family: 'Manrope';
  src: url('./Manrope/Manrope-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Manrope Bold */
@font-face {
  font-family: 'Manrope';
  src: url('./Manrope/Manrope-VariableFont_wght.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Monrope SemiBold */
@font-face {
  font-family: 'Manrope';
  src: url('./Manrope/Manrope-VariableFont_wght.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
