.figure {
  margin: var(--article-space-block) 0;

  img {
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
  }

  figcaption {
    color: #616875;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 12px;
  }
}
