@use '../../styles/variables.scss' as *;
@use '../../styles/breackpoints' as *;

.stepsSection {
  width: 100%;
  background: $white;
  padding: 140px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;

  @include mobile-tablet {
    padding-top: 60px;
    margin-bottom: 60px;
  }
}

.container {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile-tablet {
    width: 100%;
  }
}

// Заголовок секции в стиле "Кейс клиента"
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: $primary-blue;
  text-align: center;
  margin: 0 0 56px 0;

  @include mobile-tablet {
    font-size: 25px;
    height: 44px;
    margin-bottom: 18px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  @include mobile-tablet {
    flex-direction: column;
    gap: 12px;
  }
}

.stepBlock {
  width: 382px;
  height: 229px;
  background: $primary-blue;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin: 0 6px;

  @include mobile-tablet {
    max-width: 283px;
    max-height: 186px;
  }
}

.stepNumber {
  font-weight: 400;
  font-size: 200px;
  line-height: 200px;
  background: $gradient-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: 2;
  left: 30px;

  @include mobile-tablet {
    font-size: 180px;
    line-height: 200px;
  }
}

.stepTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: $white;
  text-align: left;
  margin: 0;
  padding: 0 20px;
  position: relative;
  z-index: 3; // наложение на цифры
  max-width: 340px;

  @include mobile-tablet {
    font-size: 20px;
    line-height: 25px;
  }
}

.stepBlock:first-child .stepTitle {
  top: 26px;
  /* стили только для .stepTitle внутри первого .block */
}

.stepDescription {
  position: relative;
  top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: left;
  margin: 12px 0 0 0;
  padding: 0 20px;
  z-index: 3;
  max-width: 340px;

  @include mobile-tablet {
    font-size: 14px;
    line-height: 17.5px;
    margin-top: 4px;
  }
}

// Маленькие соединительные блоки между основными блоками
.connector {
  position: absolute;
  width: 100%;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);  
  height: 35px;
  background: $primary-blue;
  z-index: 1;

  @include mobile-tablet {
    right: 0;
    rotate: 90deg;
    transform: translateX(40%);
  }
} 