@use '../../styles/variables.scss' as *;

.header {
  background-color: $background-white;
  box-shadow: 0 2px 10px $black-transparent-light;
  padding: 1rem 0;
  width: 100vw; /* Занимает всю ширину viewport */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logoLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .logo {
    height: 36px;
    width: 180px;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $text-primary;
    margin: 0;
  }

  .navigation {
    display: flex;
  }

  .navList {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navItem {
    display: flex;
    align-items: center;
  }

  .navLink {
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    color: $primary-blue-dark;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:hover {
      background: $hover-gray;
    }
  }
}
