@use '../../styles/variables.scss' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/mixins' as *;

.WhoIsItFor {
  width: 100%;
  background: $white;
  padding: 140px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile-tablet {
    padding: 60px 0 0 0;
  }
}

.container {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: $primary-blue;
  margin: 0 0 56px 0;
  text-align: center;

  @include mobile-tablet {
    font-size: 25px;
    line-height: 48px;
    margin-bottom: 16px;
  }
}

.content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
  }
}

.firstColumn,
.secondColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.firstColumn {
  align-items: flex-end;

  @include mobile-tablet {
    align-items: center;
  }
}

.secondColumn {
  align-items: flex-start;

  @include mobile-tablet {
    align-items: center;
  }
}

.bwGradient {
  background: linear-gradient(90deg, $gradient-blue-start 0%, $gradient-blue-end 100%);
}

.wbGradient {
  background: linear-gradient(90deg, $gradient-blue-end 0%, $gradient-blue-start 100%);
}

.smallBlock {
  width: 400px;
  height: 83px;
  border-radius: 20px;
  padding: 24px 29px;
  display: flex;
  text-align: left;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: $primary-blue;

  @include mobile-tablet {
    max-width: 90%;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 24px;
    height: auto;
  }
}

.largeBlock {
  width: 400px;
  height: 153px;
  border-radius: 20px;
  padding: 24px 30px;
  display: flex;
  text-align: left;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: $primary-blue;

  @include mobile-tablet {
    max-width: 90%;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 24px;
    height: auto;
  }
}

.centerImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 331px;
  height: 248px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 50px 10px rgba(9, 53, 133, 0.25);

  @include mobile-tablet {
    max-width: 100%;
    font-size: 380px;
    line-height: 160px;
  }
} 
