@use '../../styles/variables.scss' as *;
@use '../../styles/breackpoints.scss' as *;

.solutionSection {
  width: 100%;
  background: $primary-blue;
  padding: 140px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile-tablet {
    padding: 60px 0 0;
  }
}

.container {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile-tablet {
    width: 90%;
    max-width: 100%;
    padding: 0 15px;
  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: $white;
  margin: 0 0 16px 0;
  text-align: center;

  @include mobile-tablet {
    font-size: 24px;
    line-height: 44px;
  }
}

.subtitle {
  font-weight: 600;
  font-size: 34px;
  line-height: 35px;
  color: $primary-blue-light;
  margin: 0 0 56px 0;
  text-align: center;

  @include mobile-tablet {
    font-size: 20px;
    line-height: 25px;
  }
}

.content {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
    gap: 18px;
    min-height: 698px;
  }
}

.card {
  width: 380px;
  height: 420px;
  background: $white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 23px 61px 23px;
  box-sizing: border-box;
  box-shadow: 0 0 70px 0 rgba(0, 32, 91, 0.4);

  @include mobile-tablet {
    max-width: 284px;
    height: auto;
    padding: 28px 16.5px 27px;
  }
}

.cardIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;

  @include mobile-tablet {
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
  }
}

.cardText {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color:  $primary-blue;
  margin: 0;

  @include mobile-tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.vs {
  font-family: 'Biryani', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: $primary-blue;
  margin: 16px 0;

  @include mobile-tablet {
    font-size: 32px;
  }
}

.disclaimer {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $primary-blue-light;
  margin-top: 20px;

  @include mobile-tablet {
    font-size: 14px;
    line-height: 17.5px;
  }
} 
