@use '../../styles/variables.scss' as *;
@use '../../styles/breackpoints' as *;

.social-icons {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include mobile-tablet {
    flex-direction: column;
    gap: 36px;
  }
}

.social-icon {
  text-decoration: none;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.whatsapp-icon,
.telegram-icon {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  @include mobile-tablet {
    width: 48px;
    height: 48px;
  }

  &:hover {
    background: $light-gray;
  }

  img {
    width: 84px;
    height: 84px;

    @include mobile-tablet {
      width: 48px;
      height: 48px;
    }
  }
}
