@import './fonts/font.scss';

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFFF;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Monorope', sans-serif;
}

body h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  padding: 0 0 56px 0;
  margin: 0;
}
