@import './fonts/font.scss';

:root {
  /* Color Variables */
  --primary-blue: #093585;
  --primary-blue-light: #0084FF;
  --primary-blue-dark: #00205B;
  --secondary-blue: #0066FF;
  --white: #FFFFFF;
  --light-gray: #F0F0F0;
  --gray: #666666;
  --dark-gray: #333333;
  --black: #242424;
  --background-white: #FFFFFF;
  --background-dark: #242424;
  --text-primary: #333333;
  --text-secondary: #666666;
  --text-light: #888888;
  --shadow-blue: #646CFF;
  --shadow-cyan: #61DAFB;
  --shadow-blue-transparent: #646CFFAA;
  --shadow-cyan-transparent: #61DAFBAA;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background-white);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
}

body h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin: 0;
}
